@font-face {
    font-family: 'e-Ukraine';
    src: url('./assets/fonts/e-Ukraine-Regular.woff2') format('woff2'),
        url('./assets/fonts/e-Ukraine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('./assets/fonts/e-Ukraine-Thin.woff2') format('woff2'),
        url('./assets/fonts/e-Ukraine-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('./assets/fonts/e-Ukraine-UltraLight.woff2') format('woff2'),
        url('./assets/fonts/e-Ukraine-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('./assets/fonts/e-Ukraine-Medium.woff2') format('woff2'),
        url('./assets/fonts/e-Ukraine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine';
    src: url('./assets/fonts/e-Ukraine-Light.woff2') format('woff2'),
        url('./assets/fonts/e-Ukraine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
  font-family: e-Ukraine, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
